<h2>Missing!</h2>
<!--<p>Looks like your too late, Redplague has already burned your house down :-(</p>-->
<img src="https://minotar.net/avatar/<%= @user.username %>">
<p><%= @user.missing_message %></p>
