<h2>Mumble Installation</h2>
<p>Follow these steps to get on the Mumble server</p>
<ol>
  <li>Go to <a href="http://www.mumble.com/">mumble.com</a></li>
  <li>Download and install the mumble client for your OS of chose</li>
  <li>Fire up Mumble and go through the initial wizard to configure your audio settings</li>
  <li>In the Mumble Server Connect window click "Add New..." and use the following
    <ul>
      <li>Label -> What even will make you happy</li>
      <li>Address -> minealia.com</li>
      <li>Port -> Leave this as the default of 64738</li>
      <li>Username -> What you will appear as on the server, using your Minecraft username maybe?</li>
    </ul>
  </li>
  <li>Click OK</li>
  <li>Now highlight the connection you just added and click connect</li>
</ol>
<p>You should now be on the pLAN Mumble server and talking to anyone else who happens to be on.</p>

